body {
  background: url("../images/green_cup/green_cup.png");
}

* {
  box-sizing: border-box;
}

/* general */
#masthead {
	background-color: #698B69;
	margin: 0px;
	padding: 25px;
	clear: both;
  	font-family: 'Anton', sans-serif;
  	font-size: 30px;
  	text-align: center;
  	word-spacing: 30px;
  	letter-spacing: 30px;
  	color: #eee;
}

#submit-form {
	float: right;
	background-color: #CFDBC5;
	margin: 25px;
	padding:10px;
}

#instructions {
	background-color: #CFDBC5;
	margin: 20px 600px 10px 20px;
	padding: 20px;
}
#animal-view {
	float: left;
	margin: 20px;

}

.animal {
	margin: 10px;
	background-color: #e7e7e7;;
    border: none;
    color: #698B69;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 12px;

}

 #add-button {
 	background-color: #e7e7e7;;
    border: none;
    color: #698B69;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:10px;
    cursor: pointer;

    border-radius: 12px;

 }